.home p {
    line-height: 1.5;
}
.home h2 {
    font-size: 2.5rem;
}
.home #main > .post {
    padding: 4rem;
}
.home #main .about {
    padding-bottom: 4rem;
}
.about .headshot {
    top: 0;
    right: 2rem;
}
@media (max-width: 399px) {   
    .about .headshot {
        display: block;
        float: none;
        width: 100%;
        max-width: none;
        height: auto;
        margin: 0 2rem 2rem 2rem;
    }
}
.about h2 {
    text-align: center;
}
.posts h2 {
    text-align: center;
}